.user-aside {
    border-right: 1px solid rgb(150, 150, 150);
    width: 300px;
    height: 100vh;
    padding: 80px 0 10px 10px;
    overflow: hidden;
    position: relative;
    transition: all 400ms;
    display: block;

    .menu-icon {
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        left: 25px;
        color: rgb(165, 165, 165);
    }

    .close-icon {
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        color: rgb(165, 165, 165);
    }

    .user-aside-profile-container {
        display: flex;
        align-items: center;
        padding: 10px;

        .user-aside-profile-icon {
            font-size: 40px;
            margin-right: 20px;
            color: rgb(165, 165, 165);
        }

        .user-aside-pr-txt {
            h1 {
                font-size: 20px;
                color: black;
                width: 100px;
            }

            p {
                font-size: 16px;
                color: rgb(165, 165, 165);
            }
        }
    }

    .user-aside-home-link {
        text-decoration: none;
        color: rgb(165, 165, 165);

        .user-aside-home-icon-container {
            display: flex;
            align-items: center;
            width: 100%;
            transition: all 400ms;
            padding: 5px 10px;
            cursor: pointer;
            margin-top: 20px;

            p {
                transition: all 400ms;
            }

            .user-aside-home-icon {
                font-size: 40px;
                margin-right: 20px;
                transition: all 400ms;
                color: rgb(165, 165, 165);
            }

            &:hover {
                background: #1089ff;
                border-radius: 10px 0 0 10px;

                p {
                    color: #fff;
                }

                .user-aside-home-icon {
                    color: #fff;
                }
            }
        }
    }

    .user-aside-home-icon-container {
        margin-top: 40px;
        width: 100%;
        transition: all 400ms;
        padding: 5px 10px;
        cursor: pointer;

        &:hover {
            background: #1089ff;
            border-radius: 10px 0 0 10px;
        }

        &:hover {
            .user-aside-kafedra-dropdown-txt {
                .user-aside-kafedra-icon-container {
                    .user-aside-kafedra-icon {
                        color: #fff;
                    }

                    p {
                        color: #fff;
                    }
                }

                .user-aside-kafedra-dropdown-icon {
                    color: #fff;
                }
            }

            .user-aside-kafedra-dropdown {
                .user-aside-kafedra-link {
                    .user-aside-kafedra-txt {
                        color: #fff;
                        position: relative;
                        &:after{
                            content: "";
                            position: absolute;
                            top: 40%;
                            left: -10px;
                            width: 4px;
                            height: 4px;
                            background: #fff;
                            border-radius: 50%;
                            opacity: 0;
                        }
                        &:hover:after{
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .user-aside-kafedra-dropdown-txt {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .user-aside-kafedra-icon-container {
                display: flex;
                align-items: center;

                .user-aside-kafedra-icon {
                    font-size: 40px;
                    margin-right: 20px;
                    transition: all 400ms;
                    color: rgb(165, 165, 165);
                }

                p {
                    font-size: 17px;
                    transition: all 400ms;
                    color: rgb(165, 165, 165);
                }
            }

            .user-aside-kafedra-dropdown-icon {
                font-size: 30px;
                transition: all 400ms;
                color: rgb(165, 165, 165);
            }
        }

        .user-aside-kafedra-dropdown {
            display: flex;
            flex-direction: column;
            transform: translateX(20px);

            .user-aside-kafedra-link {
                text-decoration: none;

                .user-aside-kafedra-txt {
                    width: 200px;
                    margin-block: 20px;
                    color: rgb(165, 165, 165);
                    transition: all 400ms;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &:hover {
                        transform: translateX(10px);
                    }
                }
            }
        }
    }

    .user-aside-settings-link {
        text-decoration: none;
        position: absolute;
        bottom: 50px;
        width: 100%;

        .user-aside-settings-icon-container {
            display: flex;
            align-items: center;
            width: 100%;
            transition: all 400ms;
            padding: 5px 10px;
            cursor: pointer;


            &:hover {
                background: #1089ff;
                border-radius: 10px 0 0 10px;
            }

            &:hover {
                p {
                    color: #fff;
                }

                .user-aside-settings-icon {
                    color: #fff;
                }
            }


            .user-aside-settings-icon {
                font-size: 40px;
                margin-right: 20px;
                transition: all 400ms;
                color: rgb(165, 165, 165);
            }

            p {
                font-size: 17px;
                transition: all 400ms;
                color: rgb(165, 165, 165);
            }
        }
    }
}