.user-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;

    .user-home-main {
        padding: 50px;
        width: 100%;
        height: 100%;

        .user-home-section {
            width: 100%;
            height: 100%;

            h1 {
                color: rgb(165, 165, 165);
            }

            .user-home-img-container {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;

                .user-hesabat-image {
                    width: 150px;
                    height: 150px;
                    margin-right: 50px;
                }

                .user-aztu-image {
                    width: 300px;
                    height: 150px;
                }
            }
        }
    }
}